<section id="criteria" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Criteria</h2>
                </div>
            </div>
        <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li><h3>Portfolio</h3>

                            <ul>
                                <li>
                                    Backed by a top tier venture capital fund
                                </li>
                                <li>
                                    <small>
                                        "Backed" defined as >$2.5MM equity investment. "Top tier" defined as consistently >$50MM/yr invested in technology companies.
                                    </small>
                                </li>
                            </ul>
                        </li>

                        <li><h3>Members</h3>

                            <ul>
                                <li>
                                    Founder and/or CEO of established company within previous five years.
                                </li>
                                <li>
                                    <small>
                                        "Founder" defined as original cap table. "Established company" defined as
                                        <a href="http://www.ypo.org/join-ypo/" target="_blank" title="YPO-qualifying">YPO-qualifying</a>
                                    </small>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
</section>